/* my own style */
body[class*=vscode] {
    /* color: #111; */
    font-family: "Open Sans", "Source Sans Pro", Verdana, Geneva, Tahoma, "Segoe UI", Helvetica, Arial, "나눔바른고딕", "Gowun Dodum", SimSun, "새굴림", "나눔바른고딕 옛한글", "나눔고딕", "맑은 고딕", -apple-system, system-ui, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.8;
}

[class*=vscode] h1,
[class*=vscode] h2,
[class*=vscode] h3,
[class*=vscode] h4,
[class*=vscode] h5,
[class*=vscode] h6 {
    margin-top: 2em;
    /* margin-bottom: 16px; */
    margin-bottom: var(--markdown-font-size, 16px);
    font-weight: 700;
    line-height: 1.25;
}

[class*=vscode] h1:first-of-type { margin-top: 0; }

[class*=vscode] h1,
[class*=vscode] h2,
[class*=vscode] h3 {
    font-family: "나눔스퀘어", "Open Sans", "Source Sans Pro", Verdana, Geneva, Tahoma, "Segoe UI", Helvetica, Arial, "나눔바른고딕", "Gowun Dodum", SimSun, "새굴림", "나눔바른고딕 옛한글", "나눔고딕", "맑은 고딕", -apple-system, system-ui, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
}

[class*=vscode] h1 + h2,
[class*=vscode] h2 + h3,
[class*=vscode] h3 + h4,
[class*=vscode] h4 + h5,
[class*=vscode] h5 + h6 {
    /* margin-top: 24px; */
    margin-top: var(--markdown-font-size, 16px);
}

[class*=vscode] h1,
[class*=vscode] h2 {
    border-bottom: 1px solid #999;
    padding-bottom: 4px;
}

[class*=vscode] h2 {
    border-color: #666;
}

[class*=vscode] h1 { font-size: 2em; }
[class*=vscode] h2 { font-size: 1.5em; }
[class*=vscode] h3 { font-size: 1.25em; }
[class*=vscode] h4 { font-size: 1em; }
[class*=vscode] h5 { font-size: 1em; }
[class*=vscode] h6 { font-size: 1em; }

[class*=vscode] blockquote {
    /* padding: 1em; */
    padding: 0.6em 1em !important;
    margin: 1em 0 1em 1em;
    border-left: 5px solid rgba(0, 122, 204, 0.3);
    background-color: rgba(127, 127, 127, 0.1);
    color: #8b949e;
}

[class*=vscode] table {
    margin: 1.6em 0;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid none;
}

[class*=vscode] pre code {
    line-height: 1.5;
}

[class*=vscode] *:first-child {
    margin-top: 0px;
}

[class*=vscode] *:only-child,
[class*=vscode] *:last-child {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------- */
/* C:\Users\hhyoon\AppData\Local\Programs\Microsoft VS Code\resources\app\extensions\markdown-language-features\notebook-out\index.js */
#preview {
    /* color: #111; */
    font-family: "Open Sans", "Source Sans Pro", Verdana, Geneva, Tahoma, "Segoe UI", Helvetica, Arial, "나눔바른고딕", "Gowun Dodum", SimSun, "새굴림", "나눔바른고딕 옛한글", "나눔고딕", "맑은 고딕", -apple-system, system-ui, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
    margin-top: 2em;
    /* margin-bottom: 16px; */
    /* margin-bottom: calc(var(--notebook-markup-font-size) * 0.7); */
    margin-bottom: var(--notebook-markup-font-size);
    font-weight: 700;
    line-height: 1.25;
}

#preview h1:first-child,
#preview h2:first-child,
#preview h3:first-child,
#preview h4:first-child,
#preview h5:first-child,
#preview h6:first-child { margin-top: 0; }

#preview h1,
#preview h2,
#preview h3 {
    font-family: "나눔스퀘어", "Open Sans", "Source Sans Pro", Verdana, Geneva, Tahoma, "Segoe UI", Helvetica, Arial, "나눔바른고딕", "Gowun Dodum", SimSun, "새굴림", "나눔바른고딕 옛한글", "나눔고딕", "맑은 고딕", -apple-system, system-ui, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
}

#preview h1 + h2,
#preview h2 + h3,
#preview h3 + h4,
#preview h4 + h5,
#preview h5 + h6 {
    /* margin-top: 24px; */
    margin-top: var(--notebook-markup-font-size);
}

#preview h1,
#preview h2 {
    border-bottom: 1px solid #999;
    padding-bottom: 4px !important;
}

#preview h2 {
    border-color: #666;
}

#preview h1 { font-size: 2em; }
#preview h2 { font-size: 1.5em; }
#preview h3 { font-size: 1.25em; }
#preview h4 { font-size: 1em; }
#preview h5 { font-size: 1em; }
#preview h6 { font-size: 1em; }

#preview p,
#preview ol,
#preview ul {
    margin: 0 0 0.7em;
}

#preview blockquote {
    /* padding: 1em; */
    padding: 0.6em 1em !important;
    margin: 1em 0 1em 1em;
    border-left: 5px solid rgba(0, 122, 204, 0.3);
    background-color: rgba(127, 127, 127, 0.1);
    color: #8b949e;
}

#preview blockquote > :first-child { margin-top: 0px; }
#preview blockquote > :last-child { margin-bottom: 0px; }

#preview *:first-child {
    margin-top: 0px;
}

#preview *:only-child,
#preview *:last-child {
    margin-bottom: 0;
}
/* ---------------------------------------------------------------- */
