<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.BoardMapper">

	<select id="getList" resultType="com.board.domain.BoardVO">
	<![CDATA[
		SELECT * FROM board WHERE id > 0
	]]>
	</select>

	<select id="getListWithPagingView" resultType="com.board.domain.BoardVO">
	<![CDATA[
		SELECT id, title, writer, regdate, updatedate
		FROM (
			SELECT ROWNUM num, id, title, writer, regdate, updatedate
			FROM board
			WHERE ROWNUM <= #{page} * #{rowsPerPage}
			ORDER BY id DESC
		)
		WHERE num > (#{page} - 1) * #{rowsPerPage}
	]]>
	</select>

	<select id="getListWithPagingV1" resultType="com.board.domain.BoardVO">
		SELECT id, title, writer, regdate, updatedate
		FROM board
		ORDER BY id DESC
		OFFSET (#{page} - 1) * #{rowsPerPage} ROWS FETCH FIRST #{rowsPerPage} ROWS ONLY
	</select>

	<select id="getListWithPagingV2" resultType="com.board.domain.BoardVO">
		SELECT id, title, writer, regdate, updatedate
		FROM board
		WHERE
		<foreach item="target" collection="targetList">
			<trim prefix="OR">
				<choose>
					<when test="target == 'title'.toString()">
						title LIKE '%' || #{keyword} || '%'
					</when>
					<when test="target == 'content'.toString()">
						content LIKE '%' || #{keyword} || '%'
					</when>
					<when test="target == 'writer'.toString()">
						writer LIKE '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</foreach>
		ORDER BY id DESC
		OFFSET (#{page} - 1) * #{rowsPerPage} ROWS FETCH FIRST #{rowsPerPage} ROWS ONLY
	</select>

	<sql id="whereSearch">
		<trim prefix="WHERE">
			<foreach item="target" collection="targetList" separator="OR">
				${target} LIKE '%' || #{keyword} || '%'
			</foreach>
		</trim>
	</sql>

	<select id="getListWithPaging" resultType="com.board.domain.BoardVO">
		SELECT id, title, writer, regdate, updatedate
		FROM board
		<include refid="whereSearch"></include>
		ORDER BY id DESC
		OFFSET (#{page} - 1) * #{rowsPerPage} ROWS FETCH FIRST #{rowsPerPage} ROWS ONLY
	</select>

	<insert id="insert">
		INSERT INTO board (id, title, content, writer)
		VALUES (SEQ_BOARD_ID.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD_ID.NEXTVAL FROM dual
		</selectKey>

		INSERT INTO board (id, title, content, writer)
		VALUES (#{id}, #{title}, #{content}, #{writer})
	</insert>

	<select id="read" resultType="com.board.domain.BoardVO">
		SELECT * FROM board WHERE id = #{id}
	</select>

	<update id="update">
		UPDATE board SET title = #{title}, content = #{content}, writer = #{writer}, updatedate = sysdate
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM board WHERE id = #{id}
	</delete>

	<select id="getTotalV1" resultType="int">
		SELECT COUNT(*) FROM board WHERE id > 0
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM board
		<include refid="whereSearch"></include>
	</select>
</mapper>
